JAVA_OPTIONS=-server -XX:+PerfDisableSharedMem -XX:+UseContainerSupport -XX:MaxRAM=192m -XX:MaxMetaspaceSize=100m -XX:ThreadStackSize=512 -XX:+ExitOnOutOfMemoryError -XX:+UseSerialGC -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -XX:+PrintFlagsFinal -XX:MaxRAMFraction=2 -XX:+PrintCommandLineFlags

ASYNC_CORE_POOL_SIZE=25

AWS_REGION=eu-west-1
AWS_AK=
AWS_SC=
AWS_SQS_SHUTDOWN_QUEUE=

AWS_DYNAMO_DB_REGION_ENDPOINT=
AWS_DYNAMO_DB_REGION=eu-west-1
AWS_DYNAMO_AK=
AWS_DYNAMO_SK=