JAVA_OPTIONS=-server -XX:+PerfDisableSharedMem -XX:+UseContainerSupport -XX:MaxRAM=192m -XX:MaxMetaspaceSize=100m -XX:ThreadStackSize=512 -XX:+ExitOnOutOfMemoryError -XX:+UseSerialGC -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -XX:+PrintFlagsFinal -XX:MaxRAMFraction=2 -XX:+PrintCommandLineFlags

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=